In [1]:
from pyspark.sql import SparkSession

# the Spark session should be instantiated as follows
spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .config("spark.jars", "postgresql-42.2.14.jar") \
    .getOrCreate()

In [ ]:
# jdbcDF = spark.read.format("jdbc"). \
# options(
#          url='jdbc:postgresql://localhost:5032/SuperMart_DB', # jdbc:postgresql://<host>:<port>/<database>
#          dbtable='sale_2015',
#          user='postgres',
#          password='ruby',
#          driver='org.postgresql.Driver').\
# load()

In [11]:
jdbcDF = spark.read.format("jdbc"). \
options(
         url='jdbc:postgresql://localhost:5432/SuperMart_DB', # jdbc:postgresql://<host>:<port>/<database>
         dbtable='sale_2015',
         user='postgres',
         password='ruby',
         driver='org.postgresql.Driver').\
load()

In [12]:
jdbcDF.show()

+----------+--------------+----------+----------+--------------+-----------+---------------+--------+--------+--------+----------+
|order_line|      order_id|order_date| ship_date|     ship_mode|customer_id|     product_id|   sales|quantity|discount|    profit|
+----------+--------------+----------+----------+--------------+-----------+---------------+--------+--------+--------+----------+
|         4|US-2015-108966|2015-10-11|2015-10-18|Standard Class|   SO-20335|FUR-TA-10000577|957.5775|       5|    0.45|  -383.031|
|         5|US-2015-108966|2015-10-11|2015-10-18|Standard Class|   SO-20335|OFF-ST-10000760|  22.368|       2|     0.2|    2.5164|
|        15|US-2015-118983|2015-11-22|2015-11-26|Standard Class|   HP-14815|OFF-AP-10002311|   68.81|       5|     0.8|  -123.858|
|        16|US-2015-118983|2015-11-22|2015-11-26|Standard Class|   HP-14815|OFF-BI-10000756|   2.544|       3|     0.8|    -3.816|
|        25|CA-2015-106320|2015-09-25|2015-09-30|Standard Class|   EB-13870|FUR-TA-10000577| 1044.63|       3|     0.0|  240.2649|
|        28|US-2015-150630|2015-09-17|2015-09-21|Standard Class|   TB-21520|FUR-BO-10004834| 3083.43|       7|     0.5|-1665.0522|
|        29|US-2015-150630|2015-09-17|2015-09-21|Standard Class|   TB-21520|OFF-BI-10000474|   9.618|       2|     0.7|   -7.0532|
|        30|US-2015-150630|2015-09-17|2015-09-21|Standard Class|   TB-21520|FUR-FU-10004848|   124.2|       3|     0.2|    15.525|
|        31|US-2015-150630|2015-09-17|2015-09-21|Standard Class|   TB-21520|OFF-EN-10001509|   3.264|       2|     0.2|    1.1016|
|        32|US-2015-150630|2015-09-17|2015-09-21|Standard Class|   TB-21520|OFF-AR-10004042|  86.304|       6|     0.2|    9.7092|
|        33|US-2015-150630|2015-09-17|2015-09-21|Standard Class|   TB-21520|OFF-BI-10001525|   6.858|       6|     0.7|    -5.715|
|        34|US-2015-150630|2015-09-17|2015-09-21|Standard Class|   TB-21520|OFF-AR-10001683|   15.76|       2|     0.2|     3.546|
|        38|CA-2015-117415|2015-12-27|2015-12-31|Standard Class|   SN-20710|OFF-EN-10002986| 113.328|       9|     0.2|    35.415|
|        39|CA-2015-117415|2015-12-27|2015-12-31|Standard Class|   SN-20710|FUR-BO-10002545|532.3992|       3|    0.32|  -46.9764|
|        40|CA-2015-117415|2015-12-27|2015-12-31|Standard Class|   SN-20710|FUR-CH-10004218| 212.058|       3|     0.3|   -15.147|
|        41|CA-2015-117415|2015-12-27|2015-12-31|Standard Class|   SN-20710|TEC-PH-10000486| 371.168|       4|     0.2|   41.7564|
|        50|CA-2015-115742|2015-04-18|2015-04-22|Standard Class|   DP-13000|OFF-BI-10004410|   38.22|       6|     0.0|   17.9634|
|        51|CA-2015-115742|2015-04-18|2015-04-22|Standard Class|   DP-13000|OFF-LA-10002762|   75.18|       6|     0.0|   35.3346|
|        52|CA-2015-115742|2015-04-18|2015-04-22|Standard Class|   DP-13000|FUR-FU-10001706|    6.16|       2|     0.0|    2.9568|
|        53|CA-2015-115742|2015-04-18|2015-04-22|Standard Class|   DP-13000|FUR-CH-10003061|   89.99|       1|     0.0|   17.0981|
+----------+--------------+----------+----------+--------------+-----------+---------------+--------+--------+--------+----------+
only showing top 20 rows

In [26]:
jdbcDF.groupBy("type","beds").mean("price").show()

+------------+----+------------------+
|        type|beds|        avg(price)|
+------------+----+------------------+
| Residential|   5|404928.01754385966|
| Residential|   0|184537.22222222222|
|Multi-Family|   5|          246027.0|
| Residential|   3|215599.04679802957|
|       Condo|   0|          214375.0|
|      Unkown|   0|          275000.0|
|       Condo|   2|          129496.9|
| Residential|   2|174824.08823529413|
|Multi-Family|   2|          285000.0|
|Multi-Family|   4|        212449.625|
| Residential|   4|        285526.028|
|       Condo|   1|109956.66666666667|
|Multi-Family|   6|          159900.0|
| Residential|   1|          106852.0|
|       Condo|   3| 216417.2857142857|
| Residential|   6|          565000.0|
|Multi-Family|   8|          282400.0|
+------------+----+------------------+

In [16]:
jdbcDF.filter("type == 'Unkown'").show()

+-----------------+---------------+-----+-----+----+------+------+
|           street|           city|  zip|state|beds|  type| price|
+-----------------+---------------+-----+-----+----+------+------+
|6007 MARYBELLE LN|SHINGLE SPRINGS|95682|   CA|   0|Unkown|275000|
+-----------------+---------------+-----+-----+----+------+------+

In [22]:
jdbcDF.filter( (jdbcDF.state  == "CA") & (jdbcDF.beds  == "3") ) \
    .show(truncate=True)

+--------------------+---------------+-----+-----+----+-----------+------+
|              street|           city|  zip|state|beds|       type| price|
+--------------------+---------------+-----+-----+----+-----------+------+
|         51 OMAHA CT|     SACRAMENTO|95823|   CA|   3|Residential| 68212|
|  5828 PEPPERMILL CT|     SACRAMENTO|95841|   CA|   3|      Condo| 89921|
| 6048 OGDEN NASH WAY|     SACRAMENTO|95842|   CA|   3|Residential| 90895|
|       2561 19TH AVE|     SACRAMENTO|95820|   CA|   3|Residential| 91002|
|        7325 10TH ST|      RIO LINDA|95673|   CA|   3|Residential| 98937|
|    645 MORRISON AVE|     SACRAMENTO|95838|   CA|   3|Residential|100309|
|       4085 FAWN CIR|     SACRAMENTO|95823|   CA|   3|Residential|106250|
|       2113 KIRK WAY|     SACRAMENTO|95822|   CA|   3|Residential|107502|
|     113 LEEWILL AVE|      RIO LINDA|95673|   CA|   3|Residential|121630|
|  6118 STONEHAND AVE| CITRUS HEIGHTS|95621|   CA|   3|Residential|122000|
|        9 PASTURE CT|     SACRAMENTO|95834|   CA|   3|Residential|124100|
|  3729 BAINBRIDGE DR|NORTH HIGHLANDS|95660|   CA|   3|Residential|125000|
|  3828 BLACKFOOT WAY|       ANTELOPE|95843|   CA|   3|Residential|126640|
|     4108 NORTON WAY|     SACRAMENTO|95820|   CA|   3|Residential|127281|
|    1469 JANRICK AVE|     SACRAMENTO|95832|   CA|   3|Residential|129000|
|7825 CREEK VALLEY...|     SACRAMENTO|95828|   CA|   3|Residential|132000|
|      6768 MEDORA DR|NORTH HIGHLANDS|95660|   CA|   3|Residential|134555|
|    3100 EXPLORER DR|     SACRAMENTO|95827|   CA|   3|Residential|136500|
|   7944 DOMINION WAY|        ELVERTA|95626|   CA|   3|Residential|138750|
|3920 SHINING STAR DR|     SACRAMENTO|95823|   CA|   3|Residential|146250|
+--------------------+---------------+-----+-----+----+-----------+------+
only showing top 20 rows

### Loading data into Database ( Postgresql) from local device

In [6]:
import pyforest
df = pd.read_csv("./datasheet.txt")
print(df.shape)
df.head()

(0, 6)

Empty DataFrame
Columns: [[{'username': 'Hemanth',  'password': '1234'},  {'username': 'Sagar',  'password': '4567'},  {'username': 'Surya',  'password': '1234'}]]
Index: []

In [7]:
import psycopg2
from sqlalchemy import create_engine
conn_string = "postgresql://postgres:ruby@localhost:5432/postgres" # jdbc:postgresql://<host>:<port>/<database>
db = create_engine(conn_string)
conn = db.connect()
df.to_sql("SuperMart_DB", con=conn, if_exists='replace',index=False)
conn = psycopg2.connect(conn_string)
conn.autocommit = True
cursor = conn.cursor()
conn.close()

In [2]:
pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.5-cp39-cp39-win_amd64.whl (1.2 MB)
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.5
Note: you may need to restart the kernel to use updated packages.

In [5]:
import psycopg2
conn1=psycopg2.connect(database='postgres',user='postgres',password='ruby',host='127.0.0.1',port='5432')
print('Opened database successfully')
cursor = conn1.cursor()

Opened database successfully

In [ ]:
# Create Table
cursor.execute('''